######################################################
######################################################
## These constraints are for Mark-1 RPI/FPGA shield ##
######################################################
######################################################

######################
# Timing Constraints #
######################

##### Grouping Constraints #####
NET OSC_FPGA TNM_NET = clk50_grp;

##### Clock Period Constraints #####
TIMESPEC TS_PER_CLK50 = PERIOD "clk50_grp" 20.0 ns;

#######################
# Pin LOC Constraints #
######################

##### Bank 2 #####
NET "LED<0>"        LOC = "P105" | IOSTANDARD = LVTTL;		#SHARED WITH ARD_D6
NET "LED<1>"        LOC = "P104" | IOSTANDARD = LVTTL;		#SHARED WITH ARD_D7
NET "OSC_FPGA"      LOC = "P85" | IOSTANDARD = LVTTL;
NET "PB<0>"        		LOC = "P102" 		| IOSTANDARD = LVTTL;
NET "PB<1>"        		LOC = "P101" 		| IOSTANDARD = LVTTL;

#RASPBERRY-PI CONNECTOR###############################################################
NET "SYS_SPI_MOSI" 		LOC = "P65" 		| IOSTANDARD = LVTTL;			#Shared - Used to clk bitstream data to fpga / ARduino MOSI
NET "SYS_SPI_MISO" 		LOC = "P75" 		| IOSTANDARD = LVTTL;
NET "SYS_SPI_SCK" 			LOC = "P70" 		| IOSTANDARD = LVTTL;			#Shared - Used to clk bitstream data to fpga / ARduino SCK
#NET "RP_SPI_CE0N" 			LOC = "P79" 		| IOSTANDARD = LVTTL;
##NET "RP_SPI_CE1N"			LOC = "P78"			| IOSTANDARD = LVTTL;
#NET "SYS_SDA"				LOC = "P98" 		| IOSTANDARD = LVTTL;			#Shared with Arduino SDA
#NET "SYS_SCL"				LOC = "P97" 		| IOSTANDARD = LVTTL;			#Shared with Arduino SCL
#UART FROM RASPBERRY PI - As labeled in the Rpi schematic
#NET "SYS_TX" 				LOC= "P83" 			| IOSTANDARD = LVTTL;	#Pi TX Pin		#Shared with Arduino TX
#NET "SYS_RX" 				LOC= "P82" 			| IOSTANDARD = LVTTL;	#Pi RX Pin		#Shared with Arduino RX
#NET "RP_GPIO_GCLK" 		LOC = "P95"			| IOSTANDARD = LVTTL;
#NET "RP_GPIO_GEN2" 		LOC = "P81"			| IOSTANDARD = LVTTL;
#NET "RP_GPIO_GEN3" 		LOC = "P80"			| IOSTANDARD = LVTTL;